
.occasion-div {
  background-color: white;
  width: 60%;
  margin: 10px auto 5px;
  border-radius: 5px;
}

.occasion-list {
  list-style-type: none;
  padding-left: 0;
}

.occasion-list-line {
 margin: 5px 0;
 border: 1px solid black;
 border-radius: 5px;
}

.occasion-list-data {
  margin: 5px 5px 5px 20px;
  cursor: pointer;
}

.occasion-title {
  text-align: center;
  font-size: 2em;
}

.occasion-detail-ul {
  padding: 5px;
  li {
    margin: 5px;
  }

  .gift-icon-outer-div {
    flex-basis: 22%;
  }

  .partner-name {
    flex-basis: 60%;
    font-size: 1.1rem;
  }
  
  .svg-icon {
    height: 2rem;
    width: auto
  }

  li.gift-status {
    cursor: pointer;
  }



}
