
.occasion-div {
  background-color: white;
  width: 60%;
  margin: 10px auto 5px;
  border-radius: 5px;

  .add-occasion-btn {
    margin: .5rem;
  }

  .occasion-list {
    list-style-type: none;
    padding-left: 0;
  }

  .occasion-list-line {
    display: flex;
    margin: 5px 0;
    border: 1px solid blue;
    border-radius: 5px;
  }

  .occasion-list-data {
    margin: 5px 5px 5px 20px;
    cursor: pointer;
    flex-basis: 80%;
  }

  .occasion-title {
    text-align: center;
    font-size: 2em;
  }
  
  .occasion-list-icons {
    flex-basis: 18%;
    position: relative;
  }

  .occasion-icon-group {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  .edit-icon, .delete-icon {
    cursor: pointer;
  }
}
