// _page.scss

.page-view {
    .lists-div {
    background-color: white;
    width: 60%;
    margin: 10px auto 5px;
    border-radius: 5px;
    }

    .ul-list {
      padding-inline-start: 0px;
    }
  }
  