// _people.scss
.people-view {
  .partner-div {
    background-color: white;
    width: 60%;
    margin: 10px auto 5px;
    border-radius: 5px;
  }

  .partner-list {
    list-style-type: none;
    padding: .5rem;
  }

  .partner-list-line {
  margin: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  }

  canvas {
    flex-basis: 10%;
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
  }

  .partner-name {
    margin: 1rem 5px 0 5px;
    flex-basis: 60%;
  }

  .edit-icon {
    margin: 1rem 5px 0 5px;
    cursor: pointer;
    flex-basis: 20%;
  }

  .delete-icon {
    margin: 0 3px;
    cursor: pointer;
  }

  .add-partner-btn {
    margin: 5px;
    border-radius: 5px;
  }
}
