
.single-gift-outer-div {
  background-color: white;
  width: 60%;
  margin: 25px auto 5px;
  border-radius: 5px;
  
  .single-give-gift-name {
    text-align: center;
  }
 
  .single-give-gift-data-div {
    padding: 2rem 1rem 2rem;
  }

  .icon-div {
    margin: 10px 0 0px;
  }
  
  .svg-icon {
    height: 2rem;
    width: auto;
    margin: 0 2px;
  }
}
