.single-gift-outer-div {
  background-color: white;
  width: 60%;
  margin: 25px auto 5px;
  border-radius: 5px;
  
  .single-receive-gift-name {
    text-align: center;
  }
 
  .single-receive-gift-data-div {
    padding: 2rem 1rem 2rem;
  }

  .icon-div {
    margin: 10px 0 0px;
    display: flex;
  }

  .status-icon-div {
    flex-basis: 80%;
  }
  
  .svg-icon {
    height: 2rem;
    width: auto;
    margin: 0 2px;
  }

  .edit-icon-div {
    flex-basis: 20%;
  }

  .edit-icon {
    cursor: pointer;
  }
}
