// _occasionDetail.scss

.occasion-detail-view {

  .section-heading {
    text-align: center;
    font-size: 1.5rem;
    border-bottom: solid black;
  }

  .occasion-detail-ul {
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
  }
  
  li {
    margin: 5px;
    flex-basis: 40%;
  }

  .gift-icon-outer-div {
    flex-basis: 50%;
  }

  .partner-name {
    flex-basis: 50%;
    font-size: 1.1rem;
  }
  
  .svg-icon {
    height: 2rem;
    width: auto
  }

  li.gift-status {
    cursor: pointer;
  }
}
