// _occasions.scss

@import './occasionDetail';
@import './occasionCard';

.occasion-div {
  background-color: white;
  width: 60%;
  max-width: 700px;
  margin: 10px auto 5px;
  border-radius: 10px;

  .occasion-outer-container {
    padding-top: 20px;
  }
  
  .occasion-list-div {
    max-height: 50vh;
    overflow-y: scroll;
  }

  .add-occasion-btn {
    margin: 5px;
    border-radius: 5px;
  }

  .occasion-list {
    list-style-type: none;
    padding-left: 0;
  }

  .occasion-list-title {
    text-align: center;
    font-size: 2rem;
  }

  .occasion-list-line {
    border-bottom: 2px solid blue;
  }

  .occasion-list-data {
    margin: 5px 0 5px 5px; 
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
  }

  .occasion-list-icons {
    flex-basis: 18%;
    position: relative;
    margin-top: 50px;
    padding-left: 50px;
  }

  .occasion-icon-group {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  .edit-icon, .delete-icon {
    cursor: pointer;
  }
}
