// _occasionDetail.scss

.occasion-detail-view {

  .section-heading {
    text-align: center;
    font-size: 1.5rem;
    border-bottom: solid black;
  }

  .occasion-detail-ul {
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
  }
  
  li {
    margin: 5px;
    flex-basis: 40%;
  }

  .gift-icon-outer-div {
    flex-basis: 48%;
  }

  .partner-name {
    flex-basis: 48%;
    font-size: 1.1rem;
    margin: 0 5px;
  }
  
  .svg-icon {
    height: 2rem;
    width: auto
  }

  li.gift-status {
    cursor: pointer;
  }

  .occasion-detail-no-data {
    text-align: center;
    padding-inline-start: 0;
    width: 100%;
  }
}
