// _form.scss
@import 'profileForm';
@import 'interests';

.form-outer-div {


  .form-heading {
    text-align: center;
  }

  .x-out {
    float: right;
    font-size: 1em;
    cursor: pointer;
    width: 20px;
    height: auto;
    text-align: center;
    &:hover {
      background-color: blue;
      color: white;
    }
  }

  label {
    margin: 5px 0 3px;
    width: 90%;
  }

  input {
    width: 90%;
  }

  textarea {
    width: 90%;
  }

  .button-div {
    margin: 1em 0 0 0;
  }

  button {
    border-radius: 5px;
    margin: 5px 5px 5px 0;
  }

  .close-button {
    background-color: #6c757d;
    color: white;
  }

  .submit-button {
    background-color: blue;
    color: white;
  }

  .submit-button:disabled {
    background-color: rgb(114, 114, 158);
  }

  .inline-checkbox {
    margin: .2rem 0 0 0;
  }

  .inline-checkbox-input {
    width: 1em;
    height: 1em;
    margin: 0 .2rem 0 0;
  }

  .form-wish-item-select {
    margin: 5px 0 0 0;
  }
}

.list-div {
  .gt-ul-list {
    list-style-type: none;
    padding-inline-start: 0;
    width: 90%;
  }
  
  .list-heading{
    margin: 5px 0 2px 0;
    font-size: 1rem;
  }

  li {
    display: flex;
  }

  .li-name {
    flex-basis: 70%;
  }

  .list-icon-div {
    flex-basis: 30%;
    text-align: right;
  }
}
