
// _profile.scss

.gt-profile-view {
  margin: 10vh 3em 1rem;
  width: 90%;


  .profile-title {
    font-size: 1.2rem;
    color: white;
    text-align: center;
  }

  .profile-inner-div {
    margin: 2rem 5px;
    width: 95%;
    display: flex;
    flex-flow: wrap;
    background-color: white;
    border-radius: 5px;
  }

  .profile-pic-div {
    flex-basis: 18%;
    margin: 10px 5px 0;
  }

  .profile-pic {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
  }

  .profile-info-div {
    flex-basis: 78%;
    margin: 10px 0 0 5px;
  }
  .profile-info-line {
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
  }

  .profile-label {
    flex-basis: 20%;
  }

  .profile-data {
    flex-basis: 80;
    margin: 0 0 0 5px;
  }

  .profile-photo-url-data {
    max-width: 20em;
    margin: 0 0 3px 5px;
    word-break: break-all;
  }
  
  .button-div {
    margin: 1em 0 0;
  }
  
  .profile-edit-button {
    border-radius: 5px;
    background-color: white;
    margin: 5px 5px 5px 0;
    width: 5em;
  }
  @media screen and (max-width: 716px) {
    .profile-info-div {
      flex-basis: 95%;
      margin: 10px 0 0 5px;
    }
    
    .profile-info-line {
      display: flex;
      flex-flow: row wrap;
      margin: 5px;
    }

  }
}
